/* -*- coding: utf-8; -*- */

@charset "utf-8";
@media screen {
	body {
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,Verdana,"ＭＳ Ｐゴシック","MS PGothic",IPAPGothic,sans-serif;
		line-height: 1.5;
	}
	div.header {
		height: 30px;
		border-bottom: 1px solid #E9E9E9;

		background: -moz-linear-gradient(#FFFFFF, #F5F5F5);
		background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#F5F5F5));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFFFF', endColorstr='#F5F5F5');
	}
	div.footer {
		border-top: 1px solid #E9E9E9;
		font-size: 10pt;
		height: 31px;
	}
	div.content {
		margin-top:    10px;
		margin-bottom: 20px;
		margin-left:   20px;
		margin-right:  20px;
		_width: 100%;
	}
	div.block {
		vertical-align: middle;		
		display: inline-block; /*for modern*/
		padding-left: 10px;
		padding-right: 10px;
	}
	div.large {
		height: 28px;
		line-height: 28px;
	}	
}

@media print {
	body {
		zoom: 100%;
		margin: 0;
		padding: 0;
		font-size: 12px;
		font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,Verdana,"ＭＳ Ｐゴシック","MS PGothic",IPAPGothic,sans-serif;
		line-height: 1.2;
	}
	div.content {
		margin-top:    0px;
		margin-bottom: 0px;
		margin-left:   0px;
		margin-right:  0px;
		_width: 100%;
	}
	table {
		border-collapse: collapse;
	}
}
@page {
	margin: 0.8cm;
	size: A3;
}	

a {
	outline-style:none;
	color: #1985B5;
	text-decoration: none;
}

a.img {
	border: none;
	background-color:transparent;
}

/*
hr {
    background-color: #AAAAAA;
    border: 0 none;
    color: #AAAAAA;
    height: 1px;
    margin: 0.2em 0;
}
*/

/*------------------ FORM STYLING ELEMENTS --------------------*/

.bg_gradient {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
	background-image: -webkit-linear-gradient(top, #EEE, #DDD);
	background-image: -moz-linear-gradient(top, #EEE, #DDD);
	background-image: -ms-linear-gradient(top, #EEE, #DDD);
	background-image: -o-linear-gradient(top, #EEE, #DDD);
	background-image: linear-gradient(top, #EEE, #DDD);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE', endColorstr='#DDD',GradientType=0 ); /* IE6-9 */
}

.rounded {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.text_shadow {
	text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.8);
}

input, select, textarea {
	border: 0;
	padding: 3px;
	font-size: 0.9em;
/*	font-family: Arial, sans-serif; */
/*	font-family:Arial,Helvetica,sans-serif; */
/*	font-family:inherit; */
	color: #222222;
	border: solid 1px #ccc;
	margin: 0 0 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

fieldset {
	margin: 0.5em 0;
	padding: 5px 20px;
	border: 1px #AAAAAA solid;
}

input[type=radio] {
	border-style: none !important;
    box-shadow: none !important;
}
input[type=checkbox] {
	border-style: none !important;
    box-shadow: none !important;
    vertical-align: middle;
}

input[readonly] {
	background-color: #DDDDDD;
	color: #666666;
}
input[type=button].delete-row {
	font-weight: bold;
	color: #555;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
input[type=button].delete-row:hover {
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	color: red;
}

input.shadow_inset {
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

input.shadow_inset_top {
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

input.shadow_bottom_white {
	-webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
}

input:focus, select:focus, textarea:focus {
	background-color: #F0F8FF;
	border:solid 1px #4787ED;
}

input.warn, select.warn, textarea.warn {
	background-color: #FFE9E9;
	border:solid 1px #FF0000;
}

input.block {
    display: block;
    width: 100%;
}

button {
	padding: 2px 5px;
	margin: 0 0 0px;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	cursor: pointer;
	width: 80px;
	color: #606060;
	border: solid 1px #CFCACA;
	background: #EEEEEE;
}

button:hover {
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	border: solid 1px #CFCACA;
	background: #f9f9f9;
}

button.disabled {
	color: #FFFFFF !important;
	cursor:default !important;
	pointer-events:none !important;
	border: solid 1px !important;
	background: #B2B2B2 !important;
}

button.yet {
	color: #FFFFFF !important;
	cursor:default !important;
	pointer-events:none !important;
	border: solid 1px !important;
	background: #E9E9E9 !important;
}

button.blue {
	color: #FFFFFF;
	border: solid 1px #3079ED;
	background: #4D90FE;
}

button.blue:hover {
	border: solid 1px #3079ED;
	background: #4787ED;
}

button.blueline {
	color: #3079ED;
	border: solid 1px #3079ED;
	background: #FFFFFF;
}

button.blueline:hover {
	color: #FFF;
	border: solid 1px #3079ED;
	background: #3079ED;
}

button.red {
	color: #FFFFFF;
	border: solid 1px #D14836;
	background: #DD4B39;
}

button.red:hover {
	border: solid 1px #D14836;
	background: #D14836;
}

button.redline {
	color: #D14836;
	border: solid 1px #D14836;
	background: #FFFFFF;
}

button.redline:hover {
	color: #FFF;
	border: solid 1px #D14836;
	background: #D14836;
}

button.green {
	color: #FFFFFF;
	border: solid 1px #008000;
	background: #228b22;
}

button.green:hover {
	border: solid 1px #008000;
	background: #008000;
}

button.greenline {
	color: #228b22;
	border: solid 1px #228b22;
	background: #FFFFFF;
}

button.greenline:hover {
	color: #FFF;
	border: solid 1px #228b22;
	background: #228b22;
}

button.yellow {
	color: #FFFFFF;
	border: solid 1px #FCAC0B;
	background: #FEB627;
}

button.yellow:hover {
	border: solid 1px #FCAC0B;
	background: #FCAC0B;
}

button.dark {
	color: #555;
	border: solid 1px #555;
	background: #FFF;
}

button.dark:hover {
	color: #FFF;
	border: solid 1px #555;
	background: #555;
}

button.darkline {
	color: #555;
	border: solid 1px #555;
	background: #FFF;
}

button.darkline:hover {
	color: #FFF;
	border: solid 1px #555;
	background: #555;
}

button.bg_gradient {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa));
	background-image: -webkit-linear-gradient(top, #ddd, #aaa);
	background-image: -moz-linear-gradient(top, #ddd, #aaa);
	background-image: -ms-linear-gradient(top, #ddd, #aaa);
	background-image: -o-linear-gradient(top, #ddd, #aaa);
	background-image: linear-gradient(top, #ddd, #aaa);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd', endColorstr='#aaa',GradientType=0 ); /* IE6-9 */
}

button.shadow_inset_top {
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

button.shadow_bottom {
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

button.shadow_inset_top_shadow_bottom {
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

button.large {
	padding: 2px 5px;
	margin: 0 0 0px;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	cursor: pointer;
	width: 200px;
	height: 30px;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   transition: 0.2s;
}

button.large-disabled {
	padding: 2px 5px;
	margin: 0 0 0px;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	width: 200px;
	height: 30px;
	color: #777;
	border: solid 1px #777 !important;
	background: #FFF !important;
	cursor:default !important;
	pointer-events:none !important;
}

button.middle {
	padding: 2px 5px;
	margin: 0 0 0px;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
	width: 100px;
	height: 30px;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   transition: 0.2s;
}

button.middle-disabled {
	padding: 2px 5px;
	margin: 0 0 0px;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	width: 100px;
	height: 30px;
	color: #777;
	border: solid 1px #777 !important;
	background: #FFF !important;
	cursor:default !important;
	pointer-events:none !important;
}

pre {
	font-size:1.5em;
	white-space:normal;
}

form {
	margin: 10px 0px 10px;
}

form.bg {
	background:#eea34a;
	padding:20px;
	width:325px;
	height:40px;
	margin:0 0 20px;
}

p.link {
	clear:both;
}


/*-------------- LINK BUTTON STYLING ELEMENTS -----------------*/

a.nav {
    float: left;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 7px;
    font-size: 1em;
	background: transparent;
}

span.nav {
    float: left;
    padding: 10px 5px;
    font-size: 1em;
	background: transparent;
	color: #555;
}

a.current {
	padding-top: 3px;
	border-top: 2px solid #0000FF;
	color: #000055;				/* #538DC3; */
	background: #DDD;
}

a.nav:hover {
	background: #BAD3EA;
}

a:hover {
	background: #BAD3EA;
}

a.yet {
    padding: 10px 5px;
	color: #B2B2B2;
	text-decoration:none;
	cursor:default;
	pointer-events:none;
}

a.button {
	border: solid 1px #AAAAAA;
	padding: 10px 10px;
	margin: 0 0 20px;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	color: #333333;
	background: #EEEEEE;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

a.button:hover {
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	background:#CCCCCC;
}

/*-------------- INPUT FILE STYLING ELEMENTS -----------------*/

input.file {
    position: relative;
    text-align: left;
    -moz-opacity:0 ;
    opacity: 0.7;
    z-index: 2;
    cursor: pointer;			/* IE Only */
}

/*-------------- APPLICATION STYLING ELEMENTS ----------------*/

thead {
	display: table-header-group;
	color: #3D3D3D;
}

tfoot {
	display: table-footer-group;
	color: #3D3D3D;
}

tbody {
	display: table-row-group;
	color: #3D3D3D;
}

table.sort {
/*	font-family: arial; */
	text-align: left;
	font-size: 10pt;
	width: 100%;
	border-collapse: collapse;
}
.tablesorter-default .tablesorter-header {
	background-image: url(images/bg.gif);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 20px 4px 4px;
	text-align: center;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(images/asc.gif);
	border-bottom: #000 2px solid;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(images/desc.gif);
	border-bottom: #000 2px solid;
}
.tablesorter-default thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}
.tablesorter-default th {
	color: #3D3D3D;
	padding: 4px 10px 4px 15px;
/*	vertical-align: middle; */
	text-align: center;
}
.tablesorter-default td {
	color: #3D3D3D;
	padding: 2px;
/*	vertical-align: middle; */
}
.tablesorter-default td .left {
	color: #3D3D3D;
	padding: 2px;
/*	vertical-align: middle; */
	text-align: left;
}
.tablesorter-default td .right {
	color: #3D3D3D;
	padding: 2px;
/*	vertical-align: middle; */
	text-align: right;
}
.tablesorter-defaulttd.center {
	color: #3D3D3D;
	padding: 2px;
/*	vertical-align: middle; */
	text-align: center;
}
tr.even {
    background: #ffffff;
}
tr.odd {
    background: #eeeeee;
}
tr.simple {
	background: #fff;
	border-bottom: 1px solid #eee;
}
.ui-autocomplete {
	max-height: 350px;
/*	max-width: 1000px; */
	overflow-y: auto;
	overflow-x: hidden; /* prevent horizontal scrollbar */
	padding-right: 20px; /* add padding to account for vertical scrollbar */
}
.ui-autocomplete a {
	font-size: 9pt;
	white-space: nowrap;  
}
.ui-autocomplete a:hover {
	color: #FFFFFF; /* #4787FF; */
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}

.right  { text-align: right; }
.left   { text-align: left;  }
.center { text-align: center; }

/* TAB Style http://www.magical-remix.co.jp/magicalog/archives/2875 */

ul#tab {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
ul#tab:after {
	content:".";
	display: block;
	height: 0px;
	clear: both;
	line-height: 0;
	visibility: hidden;
}
ul#tab li {
	float: left;
	text-align: center;
	border-right: 1px solid #ccc;
}
ul#tab li:last-child {
	background: none;
}
ul#tab li a {
	display: block;
	width: 300px;
	padding: 2px 0;
	text-decoration: none;
	color: #222;
}
ul#tab li a:hover {
	background: #ff7f50;
	color: #fff;
}
ul#tab li.active,
ul#tab li.active a,
ul#tab li.active a:hover {
/*
  color: #538DC3;
*/
	color: #ff7f50;
	font-weight: bold;
	background: none;
}


/* TABNAV, github flaver */

.tabnav {
    margin: 0px 0px 15px;
    border-bottom: 1px solid #DDD;
	background-image: linear-gradient(to top, #F6F6F6 0%, #FFF 8px);
}

.tabnav-tabs {
    display: inline-block;
}

ul.tabnav-tabs {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tabnav-tabs > li {
    display: inline-block;
    margin-bottom: -1px;
}

.tabnav-tab.selected {
    color: #333;
    background-color: #FFF;
    border-color: #DDD;
    border-radius: 3px 3px 0px 0px;
}

.tabnav-tab {
    display: inline-block;
    padding: 8px 12px 7px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-decoration: none;
	border:1px solid transparent;
	border-bottom:0;
}

.block {
	page-break-inside: avoid;
	table-layout: fixed;
}

.cancel { 
	color: #B2B2B2 !important;
	text-decoration: line-through;
}

.chart {
	min-width: 320px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
}