[% WRAPPER wrapper.tt title = 'ayano' %]
<script type="text/javascript" id="js">
	$(function() {
		
		$('#try').click(function(e) {
			$("#sign_up").lightbox_me({centered: true, preventScroll: true, onLoad: function() {
				$("#sign_up").find("input:first").focus();
			}});
			
			e.preventDefault();
		});
	
		$('table tr:nth-child(even)').addClass('stripe');
	});
</script>
<script type="text/javascript">
	function onload() {
	}
</script>

<a href="#" id="try" class="try sprited">お問い合わせフォーム</a>
<div id="sign_up" style="display: none">
  <h3 id="see_id" class="sprited" >Can I see some ID?</h3>
  <span>Please sign in using the form below</span>
  <div id="sign_up_form">
    <label><strong>Username:</strong> <input class="sprited"/></label>
    <label><strong>Password:</strong> <input class="sprited"/></label>
    <div id="actions">
      <a class="close form_button sprited" id="cancel" href="#">Cancel</a>
      <a class="form_button sprited" id="log_in" href="#">Sign in</a>
    </div>
  </div>
  <h3 id="left_out" class="sprited">Feeling left out?</h3>
  <span>Don't be sad, just <a href="#">click here</a> to sign up!</span>
  <a id="close_x" class="close sprited" href="#">close</a>
</div>
[% END %]
