<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	<!-- mode: html; coding: utf-8;-->
	<html>
	<head lang="ja">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="content-style-type" content="text/css">
	<title>[% title %]</title>
	[%- USE f = File(c.path_to('/root/static/common.css')) %]
	<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/common.css', { mtime => f.mtime }) %]">
	<link rel="stylesheet" type="text/css" media="screen" href="[% c.uri_for('/static/js/jquery-ui-1.9.2.custom.css') %]">
	<link rel="stylesheet" type="text/css" media="screen" href="[% c.uri_for('/static/js/fancybox/jquery.fancybox.css') %]">

	<!-- jquery -->
	<script type="text/javascript" src="[% c.uri_for('/static/js/jquery-1.9.1.js') %]"></script>
	<script type="text/javascript" src="[% c.uri_for('/static/js/jquery-ui-1.9.2.custom.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/linq.min.js') %]"></script>
    <script src="http://maps.google.com/maps?hl=en&file=api&v=2&key=ABQIAAAAUiSm4yE-UDgb8kviBG-3fxTET7FL1OGiEo0132Tsz7xytqsKmxTD2VNE7QBz0JNWWmZzj89DQ44VNA&sensor=false"
            type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="[% c.uri_for('/static/js/fancybox/jquery.fancybox.pack.js') %]"></script>
	
	<script type="text/javascript">
	  var map;
	  var geocoder;

	  function initialize() {
	  if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(36.004673,137.351074), 5);

      geocoder = new GClientGeocoder();
	  }
	  }
	</script>

	<script type="text/javascript">
	  $(function () {
	  var supportsInputAttribute = function (attr) {
	  var input = document.createElement('input');
	  return attr in input;
	  };
	  if (!supportsInputAttribute('autofocus')) {
	  $('[autofocus]').focus();
	  }
	  });
	</script>

	<!-- tablesorter -->
	<script type="text/javascript" src="[% c.uri_for('/static/js/jquery.tablesorter.min.js') %]"></script>
	<script type="text/javascript" id="js">
	  $(document).ready(function() {
	  $("table#datalist").tablesorter({
	  widgets: ['zebra'],
	  [%- IF tablesorter %]
	  [%- USE JSON %]
	  sortList: [% tablesorter.json %]
	  [%- END %]
	  });
	  });
	</script>

	[%- IF highcharts -%]
	<!-- highcharts -->
	<script src="[% c.uri_for('/static/js/highcharts.js') %]"></script>
	[%- END -%]

  </head>

  [%- menu = [
  { path => 'tornado', name => 'Tornado', namespace => 'tornado' },
  { path => 'data', name => 'Data', namespace => 'data' },
  { path => 'position', name => 'Position', namespace => 'position' },
  ]
  -%]

  <body onload="initialize()" onunload="GUnload()">
	<div class="header">
	  [%- IF c.action.reverse == 'login' %]
	  <span style="float: right;">
		<a class="nav">[% c.config.version %]</a>
	  </span>
	  [%- ELSE %]
	  [%- FOREACH m = menu %]
	  <a class="nav [% IF c.namespace == m.namespace %]current[% END %]" href="[% c.uri_for('/' _ m.path) %]">[% m.name %]</a>
	  [%- END %]
	  [%- END %]
	</div>

	<div class="content">
	  [% content %]
	</div>

  </body>
</html>
